NUXT_PUBLIC_SITE_URL=http://localhost:3000
NUXT_PUBLIC_API_BASE_URL=http://localhost:3000/api/v1
NUXT_PUBLIC_AUTH_LOGIN_PATH=/auth/login
NUXT_PUBLIC_AUTH_REFRESH_PATH=/auth/refresh
NUXT_PUBLIC_AUTH_ME_PATH=/auth/me
NUXT_PUBLIC_AUTH_LOGOUT_PATH=/auth/logout
