{
  "semi": false,
  "singleQuote": true,
  "printWidth": 120,
  "trailingComma": "all",
  "arrowParens": "avoid",
  "bracketSpacing": true,
  "endOfLine": "auto",
  "useTabs": false,
  "tabWidth": 2,
  "overrides": [
    {
      "files": "*.vue",
      "options": {
        "parser": "vue"
      }
    }
  ],
  "plugins": ["prettier-plugin-tailwindcss"]
}